@import "reset";
@import "variables/global";
@import 'themes/dark';

#root {
  min-height: 100vh;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--def-font-color);
}

.app {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: var(--def-font-color);
}
