@use 'mixins' as m;

.treasury {
  padding: 19px 16px 8px;
}


.topRightHighlight {
  position: fixed;
  top: -269px;
  right: -206px;
  width: 453px;
  height: 453px;
  border-radius: 453px;
  opacity: 0.4;
  background: #522183; //TODO нет в палитре
  filter: blur(89.3499984741211px);
  transform: translate3d(0, 0, 0);
}

.bottomLeftHighlight {
  position: fixed;
  width: 408px;
  height: 408px;
  left: -223px;
  bottom: -277px;
  border-radius: 408px;
  opacity: 0.2;
  background: var(--accent-2-100);
  filter: blur(89.3499984741211px);
  transform: translate3d(0, 0, 0);
}

.bottomRightHighlight {
  position: fixed;
  right: -223px;
  bottom: -277px;
  width: 408px;
  height: 408px;
  border-radius: 408px;
  opacity: 0.2;
  background: var(--accent-1-100);
  filter: blur(89.3499984741211px);
  transform: translate3d(0, 0, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;

}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tonWrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  row-gap: 16px;
}
